.padre{
    display: flex;
    
}
.borde{
    border: 2px solid #7C7C7C;   
    padding: 2%;
    margin: 5px;    
}

.img-turismo{
    text-align: center;
    width: 400px;
    height: 400px;  

}

.img-instituciones{
    width: 300px;
    height: 300px; 
}

.tabla{
    width: 60%;
    height: 40%;
}

.input-submit{
    color: white;
    background-color: #3C5A43;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    padding: 7px 18px;
    
}
.tipografia1{
    font-family: Georgia, 'Times New Roman', Times, serif
}
.borde-2{

    border: 2px solid #E16707;   
    padding: 2%;
    margin: 5px;
}

.centrar{
    text-align: center;
}


